<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/xevilmaxx/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="prova705@gmail.com" />
            <add key="ClearTextPassword" value="67fd7e56827968527522d7d43bee4184a6f69599" />
        </github>
    </packageSourceCredentials>
</configuration>
