<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--Async really works-->
  <targets async="true">
    
    
    <target name="logfile" xsi:type="File" fileName="Server_${shortdate}.log"
        encoding="utf-8"
        maxArchiveFiles="5"
        archiveNumbering="Rolling"
        archiveAboveSize="5000000"
        archiveFileName="Server_${shortdate}_{##}.log"
        keepFileOpen="false"
      >
      <layout>${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception}}</layout>
    </target>
    
    <!--Thread id: ${threadid} => may be useful but doubles logging time-->
    
    <target name="logconsole" xsi:type="ColoredConsole" />
    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>